body {
  margin: 0;
  font-family: "Cuprum", Arial, sans-serif;

  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
}

a {
  text-decoration: none;
}

input,
textarea {
  padding: 10px 15px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #293449;
}
.main-header-top {
  display: flex;
  margin: 0 auto;
  padding: 0;
  width: 940px;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: inherit;
}

.main-header-top a,
.main-footer-top a {
  width: 150px;
  padding: 12px;

  box-sizing: border-box;
  text-align: center;
}

.main-header-top input::-moz-placeholder { color: #ffffff; opacity:1; }
.main-header-top input::-webkit-input-placeholder { color: #ffffff; }
.main-header-top input::-ms-input-placeholder { color: #ffffff; }
.main-header-top input::-ms-input-placeholder { color: #ffffff; }
.main-header-top input::placeholder { color: #ffffff; }

.main-header-top a:focus,
.main-header-top a:hover,
.main-header-top input:focus,
.main-header-top input:hover {
  background-color: #212a3a;
}

a.logo {
  position: relative;
  width: 220px;
  box-sizing: border-box;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ee3643;
}

a.logo:after {
  display: block;
  position: absolute;
  margin-top: 12px;
  left: 0;
  width: 220px;
  content: "";
  border-bottom: 6px solid #b52933;
}

.main-header-logo {
  font-size: 24px;
}

a.main-header-logo:focus,
a.main-header-logo:hover {
  background-color: #ca2c37;
}

.main-header-top input {
  flex: 1;
  position: relative;
  padding: 0;
  margin: 0;
  padding-left: 48px;
  color: inherit;
  background-color: transparent;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: 16px 13px;
  border: none;
}


.main-header-bookmarks,
.main-header-cart {
  display: flex;
  justify-content: flex-start;
}

.main-header-top svg {
  margin: 0px 15px;
  margin-left: 4px;
  fill: #6a7180;
}

.main-header-top a:focus svg,
.main-header-top a:hover svg {
  fill: #ffffff;
}

.inner-page .main-header-cart {
  background-color: #ee3643;
}

.inner-page .main-header-cart svg {
  fill: #f3737c;
}

.inner-page .main-header-cart:focus,
.inner-page .main-header-cart:hover {
  background-color: #ee3643;
}


.main-header-order {
  background-color: #63a63e;
}

a.main-header-order:focus,
a.main-header-order:hover {
  background-color: #5fbb2d;
}

.main-header-bottom {
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
  background-color: #f4f7f9;
}

.main-header-middle-wrapper {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 45px auto 38px;
}

.main-header-description {
  box-sizing: border-box;
  padding: 3px 50px 0;
  margin: 0;

  width: 300px;
  font-style: italic;
}

.main-header-address-wrapper {
  padding: 0;
  padding-right: 35px;
}

.main-header-phone {
  width: 270px;
  height: 45px;

  padding: 10px 10px;
  margin: 0;

  box-sizing: border-box;

  display: flex;
  font-size: 21px;
  line-height: 21px;
  border: 3px solid white;
}

.main-header-phone-svg {
  display: block;
  padding-right: 40px;
}

.main-header-address {
  margin: 0 auto;
  padding-top: 5px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.main-header-buttons {
  display: flex;
  padding: 0;
  margin: 0;
}

.header-bottom-button {
  font-size: 21px;
  line-height: 21px;

  margin-left: 10px;
  padding: 12px 25px;

  color:black;
  background-color: white;
  border: none;
}

.header-bottom-button-login {
  display: flex;
  justify-content: space-between;
  width: 120px;
  padding-left: 12px;
}

.header-bottom-button-login svg {
  fill: #c5c5c5;
  margin-top: 1px;
}

.header-bottom-button-register {
  width: 150px;
}

.header-bottom-button-logged-in:focus svg,
.header-bottom-button-logged-in:hover svg {
  fill: #32425c;
}

.header-bottom-button-logged-in:active svg {
  fill: #c5c5c5;
}

.header-bottom-button-logged-in:active {
  color: #cacaca;
}

.header-bottom-button-login:focus svg,
.header-bottom-button-login:hover svg {
  fill: #32425c;
}

.header-bottom-button-login:active svg {
  fill: #c5c5c5;
}

.header-bottom-button-logged-in {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin: 0;
  padding: 12px;
}

.header-bottom-button-logged-in svg {
  margin-top: 2px;
  fill: #c5c5c5;
}

.header-bottom-button-logged-in span {
  margin-right: 17px;
}

.main-header-logged-in-actions {
  margin: 0;
  padding: 3px 20px 0px;
}

.main-header-logged-in-actions a {
  text-decoration: underline;
  color: #32425c;
}

.main-header-logged-in-actions a:focus,
.main-header-logged-in-actions a:hover {
  color: #ee3643;
}

.main-header-logged-in-actions a:active {
  color: #cacfd5;
}

.main-header-bottom ul,
.main-navigation ul {
  list-style: none;
}

.main-header-logged-in-wrapper ul {
  list-style: disc;

  display: flex;
  justify-content: flex-start;

  color: #32425c;
}

.main-header-logged-in-actions li {
  margin-left: 22px;
  margin-right: 10px;
}

.main-header-logged-in-actions li:first-child {
  list-style: none;
  margin-left: -1px;
}

.main-navigation {
  width: 940px;
  margin: 0 auto 60px;
  padding: 0 20px;
  box-sizing: border-box;
  color:#ffffff;
  background-color: #32425c;
  border-bottom: 5px solid #293449;
}

.main-navigation-list {
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  padding: 0 3px;
  margin: 0;
}

.main-navigation li {
  padding: 21px 30px 17px;
  font-size: 17px;
  line-height: 17px;
}

.main-header-top a,
.main-navigation a {
  color: #ffffff;
}

.main-navigation li:focus,
.main-navigation li:hover {
  background-color: #293449;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.index-columns {
  display: flex;
  justify-content: space-between;
  padding: 55px 0px 48px;
}

.about {
  width: 550px;
}

.contacts {
  width: 300px;
}

h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.button {
  padding: 10px;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;

  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;

  color: white;
  background-color: #ee3643;
  border: none;
  border-radius: 3px;
}

.index-columns .button {
  margin: 37px 0;
}

.about .button {
  width: 220px;
}

.contacts .button {
  width: 100%;
}

.container p {
  font-family: "PT Sans", Arial, sans-serif;
  padding: 0;
  margin: 0;
}

.index-columns p {
  margin-bottom: 23px;
}

.map-crop {
  margin: 30px 0 6px;
  width: 300px;
  height: 158px;
  background-image: url("../img/map.png");
  background-position-x: right;
  background-position-y: -181px;
  background-repeat: no-repeat;

}

.shipping-company-list {
  padding-left: 0;
  margin: 0;
  font-size: 18px;
  line-height: 20px;
  list-style-type: none;
}

.shipping-company-list li {
  margin: 20px 0 0;
}

.shipping-company-list li::before {
  margin: 5px;
  margin-right: 11px;
  margin-left: 0px;
  content: "";
  background: #ee3643;
  width: 25px;
  height: 2px;
  display: inline-block;
}

.main-footer ul {
  list-style: none;
}

.footer-navigation-list a:hover,
.footer-navigation-list a:focus,
.footer-link-list a:hover,
.footer-link-list a:focus,
.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: underline;
}

.footer-navigation-list a:active,
.footer-link-list a:active {
  text-decoration: none;
  opacity: 0.4;
}

.footer-contacts a:active {
  text-decoration: none;
  color: #ee3643;
}

.footer-social a:hover,
.footer-social a:active {
  background-color: #ee3643;
}

.main-footer-logo {
  font-size: 30px;
}

a.main-footer-logo {
  padding: 25px 0px 0px;
}

a.main-footer-logo:focus,
a.main-footer-logo:hover {
  background-color: #ca2c37;
}

.main-footer-top {
  padding-bottom: 48px;
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
  background-color: #32425c;
}

.main-footer-top-line1,
.main-footer-top-line2,
.footer-navigation-list,
.footer-link-list {
  display: flex;
}

.footer-navigation-list,
.footer-link-list {
  flex: 1;
  justify-content: flex-end;
}

.footer-navigation-list {
  margin: 37px 0px 0px 0px;
}

.main-footer-top-line1 {
  margin-bottom: 35px;
}

.footer-navigation-list a {
  margin-left: 47px;
  padding-right: 0;
  color: #f1f5f7;
}

.main-footer p {
  font-family: "Cuprum", Arial, sans-serif;
}
p.main-footer-address-phone {
  display: block;

}

.main-footer-top-line2 ul {
  padding-left: 0;
  margin: 0;
}

.footer-link-list a {
  padding-left: 60px;
  padding-right: 0;

  color: #ffd180;
}

.main-footer-bottom {
  padding: 32px 0 40px;
  font-size: 16px;
  line-height: 18px;

  color: white;
  background-color: #293449;
}

.main-footer-bottom .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-about {
  width: 300px;
}

.footer-social {
  width: 150px;
  text-align: center;
}

.footer-social ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  width: 40px;
  height: 40px;
  background-color: #212a3a;
  border-radius: 25px;
}

.footer-contacts {
  display: flex;
  justify-content: flex-end;
  width: 330px;
}

.footer-contacts div {
  padding-left: 30px;
}

.main-footer-mailto a,
.main-footer-link a {
  color:#ffd180;
}

.header-bottom-link {
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
  color: #32425c;

}

.inner-page h2 {
  font-family: "Cuprum", Arial, sans-serif;
}

.catalog-title {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: black;
  text-transform: uppercase;
}

.catalog-title a {
  color: black;
}

.catalog-title ul {
  list-style: none;
}

.catalog-name {
  padding: 30px;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  background-color: #f2f6f8;
}

.filter {
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  color: black;
}

.filter fieldset {
  border: 0;
  margin-top: 20px;
}

.filter ul {
  padding: 0;
  list-style: none;
  line-height: 18px;
}

.filter-wrapper {
  border-top: 1px solid #e5e5e5;
}

.filter legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
}

.filter-option {
  font-size: 15px;
  line-height: 20px;

  margin-bottom: 19px;
  padding-left: 35px;
}

.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox + label::after {
  content: "";

  position: absolute;
  top: -1px;
  left: -38px;

  width: 26px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.7;
}

.filter-option:hover .filter-input-checkbox + label::after{
  opacity: 1;
}

.filter-input-checkbox:checked + label::after {
  content: "";

  position: absolute;
  top: -1px;
  left: -38px;

  width: 26px;
  height: 23px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio + label::after {
  content: "";

  position: absolute;
  top: -3px;
  left: -38px;

  width: 26px;
  height: 25px;

  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.7;
}

.filter-option:hover .filter-input-radio + label::after {
  opacity: 1;
}


.filter-input-radio:checked + label::after {
  content: "";

  position: absolute;
  top: -3px;
  left: -38px;

  width: 26px;
  height: 25px;

  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-button {
  width: 140px;
  padding: 15px;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.catalog {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
}

.catalog-title-breadcrumbs {
  display: flex;
  padding: 0;
  margin: 20px 0;
  font-size: 13x;
  line-height: 18px;
}

.catalog-title-breadcrumbs li:not(:first-child) {
  margin-left: 40px;
  position: relative;
}

.catalog-title-breadcrumbs li:not(:first-child):before {
  content: "";
  position: absolute;
  left: -20px;
  top: 2px;
  color: #c5c9d1;

  width: 10px;
  height: 14px;

  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs-current {
  cursor: default;
}

.catalog-name {
  margin: 20px 0;
}

.catalog-wrapper {
  display: flex;
  justify-content: space-between;
}

.catalog-filter {
  width: 220px;
}

.catalog h3 {
  margin: 0 15px;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  color: black;
}

.catalog-list {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 700px;
}

.catalog-item {
  position: relative;
  display: inline-block;

  width: 220px;
  margin-bottom: 20px;
  margin-right: 20px;

  line-height: 20px;
  font-weight: bold;
  text-align: center;
  vertical-align: top;

  background-color: transparent;
}

.catalog-item .flag {
  position: absolute;
  top: -1px;
  right: -1px;

  width: 60px;
  height: 60px;

  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.catalog-item .flag-new {
  background: url("../img/new-flag.png") no-repeat 0 0;
}

.catalog-item .actions {
  display: none;
}

.catalog-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.catalog-item:hover .actions {
  display: block;
}

.catalog-item .actions {
  position: absolute;
  top: 0;
  left: 0;

  width: 218px;
  height: 88px;
  padding: 40px 0;
  margin: 1px;

  background-color: rgba(255,255,255,0.9);
  z-index: 10;
}

.catalog-item .actions .buy,
.catalog-item .actions .bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;

  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius:3px;

  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-transform: uppercase;
}

.catalog-item .actions .buy {
  position: relative;
}

.catalog-item .actions .buy::before {
  content: "";

  position: absolute;
  top: 7px;
  left: 10px;

  width: 16px;
  height: 18px;

  background-image: url("../img/cart.svg");
  background-repeat: no-repeat;

  opacity: 0.5;
}

.catalog-item .actions .buy:hover {
  background-color: #5fbb2d;
  border-color: #5fbb2d;
  border-bottom-color: #367315;
}

.catalog-item .actions .buy:hover::before {
  opacity: 1;
}

.catalog-item .actions .buy:active {
  background-color: #518534;
  border-color: #518534;
  border-bottom-color: #367315;
}

.catalog-item .actions .buy:active::before {
  opacity: 1;
}

.catalog-item .actions .bookmark {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}

.catalog-item .actions .bookmark:hover {
  border-color: #32425c;
}

.catalog-item .actions .bookmark:active {
  color: #d0d2d6;
  border-color: #c1c6ce;
}

.catalog-item:nth-child(3n) {
  margin-right: 0px;
}

.catalog-item-old-price {
  min-height: 20px;
  margin-top: 15px;
  margin-bottom: 10px;

  font-size: 17px;
  line-height: 18px;
  text-decoration: line-through;
  text-transform: uppercase;
  color: #999999;

}

.catalog-item img {
  padding-left: 1px;
  padding-top: 1px;
  max-width: 100%;
}

.catalog-item-price {
  position: relative;
  width: 80px;
  margin: 10px auto;
  margin-bottom: 20px;
  padding: 10px 30px;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;

  color: white;
  background: #ee3643;
  border-radius: 3px;
}

.catalog-item-price:after {
  content: "";

  position: absolute;
  top: 0;
  right: -20px;

  width: 0;
  height: 0;

  border: 19px solid white;
  border-left-color: #ee3643;
}

.catalog ul {
  list-style: none;
}

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 55px;
}

.pagination-item {
  margin-right: 10px;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  color: black;
}

.pagination-item a:hover {
  border: 1px solid rgba(229, 229, 229, 1);
}

.pagination-item a:active {
  border: 1px solid rgb(238, 54, 67, 1);
}

.pagination-item a {
  display: block;
  padding: 10px 15px;
  color: black;
  border: 1px solid rgba(229, 229, 229, 0.7);
  border-radius: 3px;
}

.pagination-item-current a {
  color: white;
  background-color: #ee3643;
}


.modal {
  position: fixed;
}

.modal-close {
  position: absolute;
  top: 15px;
  right: 10px;

  width: 22px;
  height: 22px;

  font-size: 0;
  background-color: transparent;
  border: 0;

  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;
  top: 10px;
  left: 2px;

  width: 19px;
  height: 3px;

  background-color: #ee3643;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal-map {
  width: 940px;
  bottom: 100px;
  left: 50%;
  margin-left: -470px;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-write-us {
  width: 620px;
  bottom: 100px;
  left: 50%;
  margin-left: -310px;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  background-color: white;
}

.modal-inputs-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px 80px;
  background-color: white;
  border-top: 7px solid #ff5257;
}

.modal-buttons-wrapper {
  padding: 38px 80px;
  background-color: #f4f4f4;
}

.modal-buttons-wrapper :first-child {
  width: 100%;
}

.modal-inputs-wrapper label {
  display: block;
  font-size: 18px;
  line-height: 18px;
  margin: 10px 0;
}

.modal-inputs-wrapper .write-us-text {
  width: 460px;
}

.modal-write-us input,
.modal-write-us textarea {
  margin: 10px 0;
  display: block;
  resize: none;
  width: 220px;
  font-size: 13px;
  line-height: 18px;
  box-sizing: border-box;
  border: 2px solid #dee3e4;
  border-radius: 3px;
}

.modal-added {
  font-family: "Cuprum", Arial, sans-serif;
  width: 620px;
  bottom: 100px;
  left: 50%;
  margin-left: -310px;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  background-color: white;
}

.modal-added p {
  margin: 25px;
  font-size: 30px;
  line-height: 30px;
  text-transform: none;
}

.modal-added img {
  margin: 10px;
}

.modal-added .modal-inputs-wrapper {
  justify-content: flex-start;
}

.modal-buttons-group {
  display: flex;
  justify-content: space-between;
}

.modal-buttons-group .button {
  width: 220px;
}

.modal-buttons-group .button-continue {
  color: black;
  background-color: white;
}


